@{
    ViewData["Title"] = "Privacy Policy";
}

@*<div class="responseDiv">
    <p>
        <label>Response Message: </label>
        <span class="bar"></span>
        @{
            var value = Session["pp_ResponseMessage"] == null ? "-" : Session["pp_ResponseMessage"];
            @value;
        }
    </p>
    <p>
        <label>Response Code: </label>
        <span class="bar"></span>
        @{
            value = Session["pp_ResponseCode"] == null ? "-" : Session["pp_ResponseCode"];
            @value;
        }
    </p>
    <p>
        <label>Instrument Token: </label>
        <span class="bar"></span>
        @{
            value = Session["pp_InstrToken"] == null ? "-" : Session["pp_InstrToken"];
            @value;
        }
    </p>
    <p>
        <label>RRN of request: </label>
        <span class="bar"></span>
        @{
            value = Session["pp_RetreivalReferenceNo"] == null ? "-" : Session["pp_RetreivalReferenceNo"];
            @value;
        }
    </p>
</div>*@